body {
  color: black;
  background-color: rgb(198, 212, 193);
}

#calTable {

}

.calBox {
    width: 28px;
    height: 28px;
    border: 1px solid #444;
    position: relative;
    float:left;
    margin-right: 0px;
    border-collapse: no-collapse;
    border-spacing: 0;
}

.dayNum {
    color: red;
    font-size: 12px;
    text-align: center;
}

.br {
    clear:both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
